<!-- Footer -->
 <footer class="bg-lightBlack mt-20">
  <div class="py-[3rem] sm:py-[4rem] md:py-[5rem] lg:py-[6rem] xl:py-[7rem] 2xl:py-[8rem] px-4 sm:px-6 md:px-8 lg:px-10 xl:px-12 2xl:px-16">
    <div class="flex flex-col gap-y-5 md:gap-y-0 md:flex-row md:justify-between">
        <img class="w-28 md:w-40" src="../Images/Logo.png" alt="This is the company's logo">
        <div class="flex gap-3 items-center flex-wrap">
          <input type="email" name="email" id="email" class="py-3 px-4 rounded-sm bg-[#3C3C43] placeholder:text-xs md:placeholder:text-sm text-xs md:text-sm xl:text-base focus:outline-none caret-lightBlue" placeholder="Email">
          <button class="font-semibold text-lightBlue px-3 text-center rounded-sm bg-white py-3 text-xs md:text-sm xl:text-base hover:bg-lightBlue hover:text-white duration-500">Subscribe to newsletter</button>
        </div>
    </div>
    <div class="flex justify-between gap-x-5 mt-6 text-white text-xs md:text-sm xl:text-base items-center">
      <div class="flex gap-x-3">
        <a href="/aboutUS">About us</a>
        <a href="/faq">FAQs</a>
        <a href="/contact">Contact us</a>
        <a href="/news">Blog</a>
      </div>
      <div class="flex justify-between gap-x-5">
        <ion-icon class="text-2xl text-lightBlue dark:text-white sun-icon hover:cursor-pointer" name="sunny"></ion-icon>
        <ion-icon class="text-2xl text-lightBlue dark:text-white moon-icon hover:cursor-pointer" name="moon"></ion-icon>
      </div>
    </div>
  </div>
  </footer>


  
        