<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Welcome</title>
</head>
<body style="font-family: Arial, sans-serif; margin: 0; padding: 0; background-color: #F2F2F2;">
  <div style="background-color: #0D47A1; color: white; padding: 15px; text-align: center;">
    <div style="padding: 2px; background-color: #F2F2F2;"><img style="height: 40px; text-align: center;" src="https://res.cloudinary.com/dy1vmspui/image/upload/v1704948799/Logo_mnpxws.png" alt="spacexshare-ai Logo"></div>
    <h4 style="margin-top: 4px;">Dear Investor <%= name %></h4>
  </div>
  <div style="max-width: 600px; margin: 0 auto; padding: 20px; background-color: white; border-radius: 10px; box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);">
    <p>
      Welcome to our cryptocurrency investment platform! We are excited to have you on board. </p>
      <p>Thank you for choosing to invest with us. Our team of experts is committed to helping you achieve your investment goals, and we are here to support you every step of the way. </p>
    <p> If you have any questions or need assistance, please don't hesitate to contact us. We are always happy to help.
      Best regards.</p>
    <a href="https://www.spacexshare-ai.com/user/dashboard" style="background-color: #0D47A1; border: none; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 20px 0; border-radius: 5px; cursor: pointer;">Access Your Dashboard</a>
    <p style="text-align: center; margin-top: 30px;">Contact our SUPPORT at <a href="mailto:support@spacexshare-ai.com" style="color: #0D47A1; text-decoration: none;">support@spacexshare-ai.com</a></p>
  </div>
  <div style="background-color: #0D47A1; color: white; text-align: center; padding: 10px 0;">
    <p style="margin: 0;">&copy; 2023 Spacexshare-Ai. All rights reserved.</p>
  </div>
</body>
</html>
